.html
{
    background-color: grey;
}
.container-navigazione
{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: rgb(143, 143, 143);
}
.container-home
{
    margin:0px;
}

.container-home-titolo
{
    text-align: center;
}
.container-home-profilo
{
    display: flex;
    align-items: center;
}
.img
{
    margin: 20px;
    float: left;
}
.article
{
    display:flex
}

.Recap
{
    margin: 50px;
}

.lavori
{
    margin: 30px;
}

.col-50
{
    padding: 1rem;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card
{
    display: inline-block;
    margin: 10px;
    width: auto;
    justify-content: center;
}

.card__image img
{
    width: 80%;
}






.btn:hover
{
    background-color: grey;
}

/*Bio*/

.titolo-bio
{
    margin: 20px;
}

.photo-bio
{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    box-sizing: border-box;
}




/*Gallery*/

.container-gallery-descrizione
{
    margin:25px;
    text-align: justify;
}

.container-gallery-uno-cards
{
    display: flex;
    margin: 25px;
}


.Card-verticale .col-20
{
    margin: 1rem;
    width: auto;
}

.img-verticale
{
  width:fit-content
}