body
{
    font-family: Truculenta;
    background-color:whitesmoke;
}
.container-navigazione
{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: grey;
}
.nav-item:hover
{
    background-color: grey;
}
.container-home
{
    margin:0px;
}

.container-home-titolo
{
    margin: 30px;
    text-align: center;
}
.container-home-profilo
{
    display: flex;
    align-items: center;
}
.img__home
{
    width: 40%;
    padding: 10px;
    float: left;
    margin-right: 10px;
}
.article
{
    display:flex;
}

.Recap
{
    margin: 40px;
    text-align: justify;
}

.container-home-lavori
{
    margin: 30px;
    text-align: justify;
}

.section__content
{
    margin: auto;
}

.col-50
{
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__home
{
    display: flex;
    width: 50%;
    text-align: center;   
}

.card__home_image_text
{
    background-color: white;
}










.btn:hover
{
    background-color: grey;
}

/*Bio*/

.titolo-bio
{
    margin: 20px;
}

.photo-bio
{
    display: flex;
    border-radius: 50%;
    justify-content: center;
    box-sizing: border-box;
}




/*Gallery*/

.container-gallery-descrizione
{
    margin:25px;
    text-align: justify;
}

.container-gallery-uno-cards
{
    display: flex;
    margin: 25px;
}


.Card-verticale .col-20
{
    margin: 1rem;
    width: auto;
}

.img-verticale
{
  width:fit-content
}