body
{
    font-family: Truculenta;
    background-color:whitesmoke;
}
.container-navigazione
{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: grey;
}
.nav-item:hover
{
    background-color: grey;
}
.container-home
{
    margin:0px;
}

.container-home-titolo
{
    margin: 30px;
    text-align: center;
}
.container-home-profilo
{
    display: flex;
    align-items: center;
}
.img__home
{
    width: 40%;
    padding: 10px;
    float: left;
    margin-right: 10px;
}
.article
{
    display:flex;
}

.Recap
{
    margin: 40px;
    text-align: justify;
}

.container-home-lavori
{
    margin: 30px;
    text-align: justify;
}

.section__content
{
    margin: auto;
}

.col-50
{
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card__home
{
    display: flex;
    text-align: center;   
}

.card__home_image_text
{
    background-color: white;
}

.btn:hover
{
    background-color: grey;
}



/*Bio*/

.titolo-bio
{
    text-align: center;
    margin: 10px;
    padding: 1rem;
}

.Immagine_Bio
{
    display: block;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: 50%;
    width: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}

.Storia_Card
{

}

.Allie
{
    width: 200px;
    float: right;
}

.Treno
{
    width: 400px;
    float:left;
    padding: 10px;
}

.Opere
{
    margin-left: 20px;
}



/*Gallery*/

.gallery_photo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.container-gallery-descrizione-uno
{
    margin:25px;
    text-align: justify;
}

.container-gallery-uno-cards
{
    justify-content: center;
}

.container-carousel-Uno
{
    justify-content: right;

}



.container-gallery-descrizione-due
{
    margin: 25px;
}

.carousel-indicators_uno
{
    display: flex;
    justify-content: center;
}

.container-gallery-due-cards
{
    display: flex;
    justify-content: center;
}

.container-carousel-due
{
    justify-content: center;

}
.Carousel_img
{
    margin-right: auto;
    margin-left: auto;
}